* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
    bottom: 0;
    background-color: gray;
} 
.container {
    width: calc(100vw - 180px) ;
    background-color: green;
    margin-top: 80px;
} 
.row-c{
    display: flex;
    flex-wrap: wrap;
}
.row {
    display: flex;
    flex-wrap: wrap;}

.col1007{
    width:calc(100% / 7);
    height: 200px;
    background-color: blue;
    border: 1px solid lightcoral;
}
.col25 {
    width: calc(100% / 4);
    height: 80px;
    
}
.col50 {
    width: calc(100% / 2);
    height: 80px;
    border: 1px solid red;
} 
body{
    background-color: black
} 
.d-flex{
    display: flex;
}
 .justify-c{
  justify-content: center;
} 
.align-c{
    align-items: center;
}