* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
    bottom: 0;
} 
.container {
    max-width: 1200px;
    margin: 0 auto;
} 
.row {
    display: flex;
    flex-wrap: wrap;
}
.col25 {
    width: calc(100% / 4);
    height: 80px;
    background-color: black;
}
.col50 {
    width: calc(100% / 2);
    height: 80px;
    background-color: black;
    border: 1px solid red;
}